.Navbars{
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: black;
  color: aliceblue;
}

.Nav-left{
  width: 50%;
  display: flex;
}

.Nav-left{
  color: aliceblue;
  text-decoration: none;   
  font-size: 32px;
  font-weight: bold;
}

.Nav-left img{
  width: 50px;
  margin-top: 10px;
}

.Nav-right{
  margin-right: 5%;
}

.dropdowns{
  display: none;
}




@media screen and (max-width: 600px){
  .dropdowns {
    position: relative;
    display: block;
  }
  
  .dropdown span{
    font-weight: bold;
    cursor: pointer;
  }
  
  .dropdown span:hover{
    background-color: rgb(71, 225, 65);
    color: whitesmoke;
    border-radius: 3px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: whitesmoke;
    min-width: 15px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0.9;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}