.Navbars{
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: black;
  color: aliceblue;
}

.Nav-left{
  width: 50%;
  display: flex;
}

.Nav-left{
  color: aliceblue;
  text-decoration: none;   
  font-size: 32px;
  font-weight: bold;
}

.Nav-left img{
  width: 50px;
  margin-top: 10px;
}