
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.Client-page1{
  height: 700px;
  background-color: aqua;
  opacity: 0.7;
}

.Client-page{
  position: absolute;
  /* background-color: antiquewhite; */
  height: 300px;
  padding: 0%;
  border-radius: 8px;
  /* width: 50%; */
  top: 200px;
  left: 35%;
}

/* Admin css */
.Admin-page{
  display: flex;
  position: absolute;
  /* background-color: antiquewhite; */
  height: 300px;
  padding: 0%;
  border-radius: 8px;
  /* width: 50%; */
  top: 200px;
  left: 25%;
}

input [type=text]{
  /* display: inline-block; */
  height: 50px;
  font-weight: bold;
}

input [type=phone]{
  /* display: inline-block; */
  height: 50px;
  font-weight: bold;
}

input [type=submit]{
  /* display: inline-block; */
  height: 50px;
  /* margin-left: 60px; */
  font-weight: bold;
  cursor: pointer;
}

.client-btn:hover{
  background-color: blue;
}