*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* overflow-x: visible; */
}

.Motorbike{
position: relative;
background-image: url('https://www.shutterstock.com/image-photo/look-down-empty-parking-spot-260nw-222270703.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 400px;
overflow-x: hidden;
}

.booking{
  position: absolute;
  top: 200px;
  left: 29%;
  font-size: 35px;
  color: aliceblue;
}

.booking-drop{
  position: absolute;
  top: 270px;
  left: 33%;
  width: 100%;
}

.Book-dropitems{
  display: flex;
  position: absolute;
  top: 55px;
  left: -13%;
  height: 50px;
  width: 100%;
border: none;
font-weight: bold;
}

.Book-btn button{
  height: 50px;
  width: 31%;
  background-color: rgb(14, 228, 82);
border-radius: 8px;
border: none;
font-size: 30px;
font-weight: bold;
color: white;
cursor: pointer;
}

.Book-btn button:hover{
  background-color: rgb(3, 22, 116);
  color: white;
}

.phone-form{
  display: none;
}

.HomeO button{
  background-color: greenyellow;
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.HomeO button:hover{
background-color: green;
color: whitesmoke;
}

/* form{
  width: 70%;
  height: 50px;
} */

/* button{
  height: 55px;
  width: 10%;
  background-color: brown;
} */

.Book-dropitems button{
  height: 50px;
  width: 10%;
  background-color: brown;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
font-size: 18px;
font-weight: bold;
}

.Book-dropitems button:hover{
  background-color: yellowgreen;
  color: aliceblue;
}

.moto-img1{
  display:contents;
  height: 200px;
}

.moto-img1 img{
  height: 700px;
  width: 75%;
margin-left: 13%;
margin-top: 100px;
border-radius: 8px;
opacity: 0.9;
}

.moto-text1{
  width: 70%;
  margin-left: 13%;
  font-size: 15px;
}

.moto-grid{
  display: grid;
}

.moto-flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 85px;
  /* background-color: antiquewhite; */
}

.moto-Lside {
width: 36%;
margin-left: 13%;
}

  .moto-Lside img{
    width: 100%;
    border-radius: 8px;
    }

    .moto-Rside {
      display: flex;
      flex-direction: column;
      width: 36%;
      margin-right: 10%;
      /* background-color: brown; */
      }

      .moto-Rside h1{
        font-size: 46px;
      }

      .hr-style{
        width: 8%;
        height: 10px;
        background-color: rgb(73, 205, 73);
      }

      .moto-Rside-txt{
        margin-top: 25px;
        color: gray;
      }

      .moto-Rside-txt p{
        gap: 10px;
        line-height: 28px;
      }

      .Comment{
        /* height: 500px; */
        margin-left: 5%;
      }

      .Comment button{
        height: 50px;
        width: 8%;
        font-weight: bold;
        color: gray;
        font-size: 16px;
      margin: 1%;
      border: none;
      cursor: pointer;
      padding: 2px 0;
      }

      .Contact-dropitems{
        position: absolute;
        /* right: 5%;
        top: 80px; */
      }

  .contBtn button{
    position: absolute;
    width: 8%;
    left: 13%;
  }

  .commBtn{
    width: 8%;
  }

      .Contact-comment{
        display: flex;
        gap: 0px;
      }

      

      /* .Comment input [type=text]{
        background-color: blue;
      } */


@media screen and (max-width: 600px) {
  .booking-drop{
    /* display: none; */
  }

  .booking{
    position: absolute;
    top: 120px;
    left: 12%;
    font-size: 15px;
    color: rgb(234, 237, 235);
  }

  .Motorbike{
    position: relative;
    background-image: url('https://www.shutterstock.com/image-photo/look-down-empty-parking-spot-260nw-222270703.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    overflow-x: hidden;
    }

    .phone-form{
      display: block;
      margin-left: 27%;
    }

    .phone{
      display: none;
      background-color: darkgrey;
    }

    input[type=name] {
      width: 20%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 30px;
    }

    input[type=phone] {
      width: 20%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 30px;
    }


    .phonbtn{
      margin-left: 13%;
    }

    .moto-img1{
      display:contents;
      height: 300px;
    }
    
    .moto-img1 img{
      height: 200px;
      width: 75%;
    margin-left: 13%;
    margin-top: 100px;
    border-radius: 8px;
    opacity: 0.9;
    }

    .moto-Lside{
      width: 100%;
    }

    .moto-Rside{
      width: 100%;
    }

    .moto-Lside img{
      height: 200px;
      width: 75%;
    }

    .moto-flex{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin-top: 85px;
      /* background-color: antiquewhite; */
    }

    input [type='submit'] {
      width: 100%;
    }
    
    /* .booking-drop{
      position: absolute;
      top: 150px;
      left: 35%;
      width: 100%;
    }

    .Book-dropitems{
      display: flex;
      position: absolute;
      top: 40px;
      left: -50%;
      height: 50px;
      width: 100%;
    border: none;
    font-weight: bold;
    } */

}